<section class="contact">
    <div class="contact__container">
      <div class="contact__container__user-data">
        <h3 class="contact__container__user-data__title">Contact Us</h3>
  
        <form class="contact__container__user-data__form" id="contactForm">
          <input class="contact__container__user-data__form__item" placeholder="Full name" name="fullName"/>
          <input class="contact__container__user-data__form__item" placeholder="Email" name="email"/>
          <input class="contact__container__user-data__form__item" placeholder="Phone number" name="phoneNumber"/>
          <input class="contact__container__user-data__form__item" placeholder="Message" name="message"/>
  
          <div class="contact__container__user-data__btn-container">
            <button class="contact__container__user-data__btn-container__send" type = submit>SEND</button>
            <div class="contact__container__user-data__btn-container__media">
              <a class="contact__container__user-data__btn-container__media__link" href="https://www.facebook.com/"><fa-icon [icon]="faUser"></fa-icon></a>
              <a class="contact__container__user-data__btn-container__media__link" href="https://twitter.com/"><fa-icon [icon]="faUser"></fa-icon></a>
              <a class="contact__container__user-data__btn-container__media__link" href="https://pl.linkedin.com/"><fa-icon [icon]="faUser"></fa-icon></a>
              <a class="contact__container__user-data__btn-container__media__link" href="https://www.instagram.com/"><fa-icon [icon]="faUser"></fa-icon></a>
            </div>
          </div>
        </form>
  
   
      </div>
      <div class="contact__container__web-data">
        <div class="contact__container__web-data__icons">
          <a class="contact__container__web-data__icons__icon" href="#">Location <fa-icon [icon]="faUser"></fa-icon></a>
          <a class="contact__container__web-data__icons__icon" href="#">+00 123 456 789 <fa-icon [icon]="faUser"></fa-icon></a>
          <a class="contact__container__web-data__icons__icon" href="#">mical@gmail.com <fa-icon [icon]="faUser"></fa-icon></a>
        </div>
        <img class="contact__container__web-data__map" src="../../../assets/img/map.jpg" alt="map"/>
        <p class="contact__container__web-data__newsletter-title">Newsletter</p>
        <div class="contact__container__web-data__newsletter">
          <input class="contact__container__web-data__newsletter__input"/>
          <button class="contact__container__web-data__newsletter__btn">SUBSCRIBE</button>
        </div>
      </div>
    </div>
    <footer class="contact__footer">Copyright 2022 All Right Reserved By Free html Templates</footer>
    
  </section>
  
