<div class="break"></div>

<section class="welcome-section">
  <div class="welcome-section__info">
    <div class="welcome-section__info__container">
        <h1 class="welcome-section__info__container__title">Welcome</h1>
        <h2 class="welcome-section__info__container__subtitle">Car repair services</h2>
        <p class="welcome-section__info__container__paragraph">
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim, 
            quis nostrud nisi ut aliquip ex ea.
        </p>
        </div>
    <div class="welcome-section__info__button-container">
        <button class="welcome-section__info__button-container__button">More info</button>
        <button class="welcome-section__info__button-container__button">Contact us</button>
    </div>
  </div>
  <div class="welcome-section__image-container">
      <img class = "welcome-section__image-container__image" src="../../../assets/img/car.png" alt="car">
  </div>
</section>